* {
    box-sizing: border-box;
  }
  body {
    font-family: Tahoma, Arial;
  }
  .quiz-app {
    margin: 120px auto;
    width: 800px;
    background-color: #d1d3d6;
    padding: 15px;
  }
  .quiz-app .quiz-detail {
    display: flex;
    background-color:  #fff;
    padding: 20px;
  }
  .quiz-app .quiz-detail .category {
    flex: 1;
  }
  .quiz-app .quiz-detail .count {
    flex: 1;
    text-align: right;
  }
  .quiz-app .quiz-area {
    background-color: #fff;
    padding: 20px;
    margin-top: 15px;
  }
  .quiz-app .quiz-area h2 {
    margin: 0;
  }
  .quiz-app .answers-area {
    background-color: #fff;
    padding: 0 20px 20px;
  }
  .quiz-app .answers-area .answer {
    background-color: #f7f2f2;
    padding: 15px;
  }
  .quiz-app .answers-area .answer:not(:last-child) {
    border-bottom: 1px solid #dfdfdf;
  }
  
  .quiz-app .answers-area .answer label {
    cursor: pointer;
    font-weight: bold;
    color: #777;
    font-size: 14px;
    margin-left: 5px;
    position: relative;
    top: -1px;
  }
  .quiz-app .submit-button {
    background-color: #8697aa;
    display: block;
    width: 100%;
    padding: 15px;
    border: none;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    border-radius: 6px;
    margin: 20px auto;
  }
  .quiz-app .submit-button:focus {
    outline: none;
  }
  
  .quiz-app .results span {
    font-weight: bold; 
    
  }
  .quiz-app .results span.bad {
    color: #dc0a0a;
  }
  .quiz-app .results span.good {
    color: #009688;
  }
  .quiz-app .results span.perfect {
    color: #0075ff;
  }